.out_container {
  width: 100%;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--primary-op);
  padding: 48px 0 36px 0;
}

.logo {
  height: 48px;
  cursor: default;
  user-select: none;
}

.logo > svg {
  height: 100%;
  width: auto;
}

.inner_container > ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 48px;
  margin: 52px 0 48px 0;
  line-height: calc(16px * 1.2);
  user-select: none;
}

.inner_container > ul > li > a {
  color: var(--accent);
  text-decoration: none;
  opacity: 1;
}

.inner_container > p {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: var(--primary);
  opacity: 0.75;
  line-height: calc(14px * 1.575);
  cursor: default;
  user-select: none;
}

@media screen and (max-width: 1367px) {
  .inner_container {
    padding: 48px 16px 36px 16px;
  }
}

@media screen and (max-width: 550px) {
  .logo {
    height: 36px;
  }
}

@media screen and (max-width: 300px) {
  .inner_container > ul {
    flex-direction: column;
    gap: 24px;
  }

  .inner_container > p {
    font-size: 12px;
    line-height: calc(12px * 1.575);
  }
}
